<h2>Formulario:</h2>

<%= simple_form_for @user do |f| %>
  <%= f.input :name, placeholder: 'Tu nombre...'  %>
  <%= f.input :coment %>
  <%= f.input :email, placeholder: 'user@domain.com'  %>
  <%= f.submit 'Enviar formulario' %>
<% end %>

